name: 'Build Assets'

on:
  pull_request:
    branches:
      - main
    types:
      - closed
    paths:
      - 'resources/js/**.js'
      - 'resources/css/**.css'
      - 'resources/views/**.blade.php'

jobs:
  if_merged:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}

      - name: Setup Node
        uses: actions/setup-node@v6

      - name: Install dependencies
        run: npm ci

      - name: Build assets
        run: npm run build

      - name: Commit changes
        # v6.0.1
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9
        with:
          commit_message: 'Chore: build assets'
